/* Task 5.1.4 */
/* .container {
  width: 50%;
  margin: 0 auto;
}

.value {
  height: 25px;
  text-align: center;
} */

/* Task 5.4.1 */
/* .output {
  text-align: center;
} */

/* Task 5.5.5 */
/* .text {
  resize: none;
  display: block;
  margin-bottom: 20px;
} */

/* Task 5.6.1 */
/* .active {
  color: rgb(255, 0, 183);
  font-weight: 900;
} */

/* Task 5.6.4 */
/* .container {
  display: flex;
  width: 100px;
  height: 30px;
  border: 2px solid blue;
  justify-content: center;
  align-items: center;
} */

/* Task 5.6.5 */
/* .output {
  height: 50px;
  text-align: center;
}

.container {
  border: 1px solid aquamarine;
  width: 300px;
  height: 100px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  position: relative;
}

.link {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid aqua;
}

.link:hover,
.link:focus {
  border-color: blue;
  color: blue;
  transform: scale(1.2);
} */

/* Task 5.7.4 */
/* .container {
  width: 70%;
  margin: 0 auto;
}

.flipped {
  transform: rotate(0.5turn);
  background-color: orange;
} */

/* Task 5.9.3 */
/* .input {
  outline: none;
} */

/* Task 5.9.5 */
/* .list {
  list-style: none;
}

.textarea {
  resize: none;
}

.list__item {
  margin-bottom: 20px;
} */

/* Task 6.2.1, 6.2.2, 6.2.3, 6.2.4*/
/* .table {
  border-collapse: collapse;
}

.table .td {
  padding: 10px 20px;
  border: 1px solid black;
} */

/* Task 6.3.1 */
/* .red {
  background-color: red;
}

.green {
  background-color: green;
} */

/* Task 6.4.1 */
/* .table {
  border-collapse: collapse;
  margin-top: 30px;
  width: 50%;
}

.table .td {
  padding: 10px 20px;
  border: 1px solid black;
} */

/* Task 6.5.3 */
/* .btn {
  display: block;
  margin-bottom: 20px;
}

.input {
  margin-right: 20px;
} */

/* Task 6.5.5 */
/* .btn {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input {
  margin-right: 20px;
} */

/* Task 6.6.2 */
/* .text {
  width: 50%;
} */

/* Task 6.6.3 */
/* .table {
  margin-top: 20px;
  border-collapse: collapse;
}

.table .td,
.table .th {
  padding: 10px 20px;
  border: 1px solid black;
} */

/* Task 6.6.4 */
/* .text {
  resize: none;
} */

/* Task 6.8.1 */
/* .table {
  border-collapse: collapse;
}

.table .td {
  padding: 10px 20px;
  border: 1px solid black;
} */

/* Task 6.8.2 */
/* .block {
  width: 50%;
  height: 50px;
  margin-bottom: 20px;
  background-color: aquamarine;
  border: 1px solid teal;
  visibility: visible;
  opacity: 1;
  transition: visibility 250ms linear, opacity 250ms linear;
}

.active {
  visibility: hidden;
  opacity: 0;
} */

/* Task 6.9.1 */
/* .block {
  width: 50%;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid teal;
} */

/* Task 6.10.2 */
.table {
  margin-top: 20px;
  border-collapse: collapse;
}

.table .td {
  padding: 20px 20px;
  border: 1px solid black;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
